@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'roboto';
        font-weight: 500;
        font-style: normal;
        src: url('./src/assets/fonts/roboto/Roboto-Medium.tff') format('truetype');
    }
}
